* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: darkgray;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.507), 2px 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.226);
}
#ms{
    font-size: 16px;
}

ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly   ;
}

li {
    list-style-type: none;
    
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
}

.timer {
    background-color: rgb(32, 32, 32);
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    gap: 3px;
}